@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
}

body {
  @apply bg-slate-950 text-slate-100;
}

.touch-target {
  min-height: 48px;
  min-width: 48px;
}
